/*Welcome page of game*/
#game {
    position: relative;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    color: black;
    text-shadow: 5px 5px 2px white;
    margin: 80px 0px 0px 400px;
}
h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    color: white;
    text-shadow: 3px 3px 2px black;
    margin: 100px 0px 0px 375px;
    font-weight: bold;
}
h3 {
    font-family: 'Amatic SC', cursive;
    color: black;
    font-size: 80px;
    text-shadow: 3px 3px 2px white;
    margin: 30px 0px 0px 20px;
}
/*Background Image*/
img {
    width: 85%;
    position: absolute;
    left: 0;
    top: 0;
}
.text {
    z-index: 100;
    position: absolute;
}

/*Game Starting Page*/
body {
    background-image: url("../images/crystal.jpg");
}
p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 2px black;
    font-weight: bold;
}
  